<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzticc.hz.mapper.DepartmentMapper" >

	<!-- 查询部门的条件的sql片段 -->
	<sql id="query_department">
		<if test="departmentCustom!=null">
			<!-- ${}拼接字符串，有sql注入的维修，少用 -->
			<if test="departmentCustom.departmentName!=null and departmentCustom.departmentName !=''">
				and departmentName like concat('%',#{departmentCustom.departmentName},'%')
			</if>
			<if test="departmentCustom.departmentNo!=null and departmentCustom.departmentNo !=''">
				and departmentNo like concat('%',#{departmentCustom.departmentNo},'%')
			</if>
		</if>
	</sql>
	
	<!-- 查询部门 -->
	<!-- 
		parameterType传入包装对象(包装了查询条件)
  		resultType建议使用扩展对象
  	 -->
	<select id="queryDepartment" parameterType="departmentQueryVo" resultType="departmentCustom">
		SELECT tb_department.* FROM tb_department
		<where>
			<!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
			<include refid="query_department"></include>
		</where>

	</select>
</mapper>