<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
		
	<!-- *******************后台管理的service********************* -->
	 <!--后台分类管理的service -->
	<!--<bean id="categoryService" class="com.huazhiyu.category.service.impl.CategoryService"/>-->
	<!--&lt;!&ndash; 后台商品管理的service &ndash;&gt;-->
	<!--<bean id="productService" class="com.huazhiyu.product.service.impl.ProductService"/>-->
	<!--&lt;!&ndash; 后台订单管理的service &ndash;&gt;-->
	<!--<bean id="orderService" class="com.huazhiyu.order.service.impl.OrderService"/>-->
	<!--&lt;!&ndash; 后台权限管理的service &ndash;&gt;-->
	<!--<bean id="authorityService" class="com.huazhiyu.authority.service.impl.AuthorityService"/>-->
	<!--&lt;!&ndash; 后台管理员管理的service &ndash;&gt;-->
	<!--<bean id="adminService" class="com.huazhiyu.admin.service.impl.AdminService"/>-->
	<!--&lt;!&ndash; 后台会员管理的service &ndash;&gt;-->
	<!--<bean id="userService" class="com.huazhiyu.user.service.impl.UserService"/>-->
	<bean id="departmentService" class="com.gzticc.hz.service.impl.DepartmentServiceImpl"/>
	
	
</beans>