html{
	SCROLLBAR-BASE-COLOR: #E5EFFF;
	height:100%;
}
body{
	/*margin:10px;
	height:100%;
	display:table;
	font-size:9pt;
	color: #3E3E3E;
	background:#ffffff;
	width:98%*/
	margin:auto;
}

form{border:0; margin:0; padding:0;}

table{font-size:9pt;align: center;}

th{font-weight:normal;text-align:center; }

td{}

ul{ padding:0px; margin:0px;}

li{ padding:0px; margin:0px; list-style-type:none;}

input{font-size:12px;#height:26px}

select{font-size:12px;width: 200px;#height:26px}

img{border:0; padding:0; margin:0;}

ol,ul{padding:0; margin:0; list-style:none;}

h3{
	font-family:"微软雅黑","Microsoft YaHei",Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

*{
	font-family:"微软雅黑",Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
}

.b{ font-weight: bold; }

.s12{ font-size: 12px; }

.s14{ font-size: 14px; }

.s16{ font-size: 16px; }

.s18{ font-size: 18px; }

.s24{ font-size: 24px; }

.gray{ color:#7F7F7F; }

.white{ color:#FFF;}

.black{ color:#000000;}

.red{ color:#C11100;}

.yellow{ color:#F1E8DF;}

.orange{ color:#FA800A;}

.blue{ color:#00426c;}

.lite_blue{ color:#0099CC;}

.left{
	float:left;
	text-align:left;
}

.right{
	float:right;
	text-align:right;
}

#header{width:100%; padding:0px;}
#header .userinfo{width:180px;background:url(../images/master_userinfo.gif) no-repeat;margin-top:0px;margin-left:11px;font-weight:bold;padding-left:24px;padding-top:5px;padding-bottom:4px}
#header .userinfo a:link,.userinfo li a:visited{color:#333;text-decoration:none;}
