html{
	SCROLLBAR-BASE-COLOR: #E5EFFF;
	height:100%;
}
body{
	/*margin:10px;
	height:100%;
	display:table;
	font-size:9pt;
	color: #3E3E3E;
	background:#ffffff;
	width:98%*/
	margin:auto;
}

form{border:0; margin:0; padding:0;}

table{font-size:9pt;align: center;}

th{font-weight:normal;text-align:center; }

td{}

ul{ padding:0px; margin:0px;}

li{ padding:0px; margin:0px; list-style-type:none;}

input{font-size:12px;#height:26px}

select{font-size:12px;width: 200px;#height:26px}

img{border:0; padding:0; margin:0;}

ol,ul{padding:0; margin:0; list-style:none;}

h3{
	font-family:"Î¢ÈíÑÅºÚ","Microsoft YaHei",Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

*{
	font-family:"Î¢ÈíÑÅºÚ",Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
}

.b{ font-weight: bold; }

.s12{ font-size: 12px; }

.s14{ font-size: 14px; }

.s16{ font-size: 16px; }

.s18{ font-size: 18px; }

.s24{ font-size: 24px; }

.gray{ color:#7F7F7F; }

.white{ color:#FFF;}

.black{ color:#000000;}

.red{ color:#C11100;}

.yellow{ color:#F1E8DF;}

.orange{ color:#FA800A;}

.blue{ color:#00426c;}

.lite_blue{ color:#0099CC;}

.left{
	float:left;
	text-align:left;
}

.right{
	float:right;
	text-align:right;
}

#web{
	margin:0 auto;
	height:auto;
}

#login{
	background:url(../images/login_bg.jpg) no-repeat 0px 85px;
	margin:0 auto;
	width:1024px;
	height:500px;
}

.login_right{
	float:left;
	width:474px;
	margin:160px 0px 255px 700px;
	
	display:inline;
}

.login_right li{
	float:left;
	width:474px;
	margin-bottom:38px;
}

.login_input{
	border:#909090 1px solid;
	padding:3px ;
}

.error_right{
	background: url(../images/404_img.jpg) no-repeat;
	float:left;
	width:400px;
	height:140px;
	padding-left:150px;
	margin:160px 0px 55px 433px;
	display:inline;
}
 
.error_right2{
	float:left;
	width:550px;
	margin-left:433px;
	padding-bottom:296px;
	text-align:center;
	display:inline;
}

#bottom{
	background:url(../images/bottom.jpg);
	margin:0 auto;
	clear:both;
	height:34px;
	}

.bottom_txt{
	margin:0 auto;
	width:1024px;
	padding-top:10px;
	}
	
#body{
	margin:0 auto;
	width:1024px;
	height:auto;
}

.ind1_top{
	float:left;
	background:url(../images/ind1_bg.jpg) no-repeat;
	width:1024px;
	height:auto;
	padding-bottom:17px;
	}

.ind1_top_txt{
	float:left;
	width:979px;
	margin:10px 45px 0px 0px;
	height:50px;
	text-align:right;
	display:inline;
	}

.ind1_top_title{
	float:left;
	width:308px;
	margin-left:238px;
	height:39px;
	display:inline;
}	

#ind_menu_box{
	float:left;
	width:478px;
	margin-top:5px;
	height:34px;
	display:inline;
}

#ind_menu_box li{
	float:left;
	width:116px;
	text-align:center;
	height:30px;
	margin-right:40px;
	display:inline;
	}

#ind_menu_box li a{
	display:block;
	width:116px;
	height:30px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	}

#ind_menu_box li a:hover{
	border-bottom:#F00 4px solid;
	width:116px;
	color:#00426c;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	}

#ind_menu_box li img{
	vertical-align:middle;
	}
		
#ind_left{
	background:url(../images/left.gif) no-repeat;
	float:left;
	width:167px;
	padding:70px 27px 0px 0px;
	}

.ind_left_menu{
	float:none;
	width:167px;
	padding:8px 0px 8px 00px;
	border-bottom:#CCC 1px dotted;
	}

.ind_left_menu2{
	float:left;
	width:157px;
	margin-left:10px;
	display:inline;
	}

.ind_left_menu2 li{
	background:url(../images/ind_left_ico2.gif) no-repeat 0px 13px;
	float:left;
	width:147px;
	padding:8px 0px 8px 10px;
	}
		
#ind_right{
	float:left;
	width:745px;
	margin-bottom:70px;
	}
		
.ind_right_title{
	float:left;
	width:715px;
	margin-left:20px;
	margin-bottom:10px;
	display:inline;
	 border-bottom: 2px solid rgb(247, 206, 139);
	}
		
.ind_right_name{
	float:left;
	width:715px;
	border:#e4e4e4 1px solid;
	padding:13px;
	margin-bottom:18px;
	display:inline;
	}
		
.ind_right_box{
	float:left;
	width:702px;
	border:#ca9b5c 1px solid;
	margin-left:20px;
	margin-bottom:20px;
	display:inline;
	}
		
.ind_right_box img{
	vertical-align:middle;
	}
		
.ind_right_box input{
	vertical-align:middle;
	}
		
.ind_right_box2{
	float:left;
	width:704px;
	margin-left:20px;
	margin-bottom:5px;
	display:inline;
	}
		
.ind_box_line{
	background:#f2f2f2;
	float:left;
	width:702px;
	border-bottom:#b5b5b5 1px solid;
	}
		
.ind_right_box3{
	float:left;
	width:702px;
	}
		
.ind_right_box3 img{
	vertical-align:middle;
	}
		
.ind_right_box3 input {
	vertical-align:middle;
	}
		
.td{
	border-right:#b4b4b4 1px dotted;
	border-bottom:#b4b4b4 1px dotted;
	}
		
.td2{
	border-right:#b4b4b4 1px dotted;
	}
		
.td3{
	/*border-right:#b4b4b4 1px dotted;
	border-bottom:#b4b4b4 1px dotted;*/
	padding:10px;
	}
		
.td4{
	border-right:#b4b4b4 1px dotted;
	padding:10px;
	}
		
.ind_right_text{
	float:left;
	width:715px;
	margin-left:20px;
	margin-bottom:10px;
	display:inline;
	}
		
.ind_right_text li{
	background:url(../images/ind_right_ico8.gif) no-repeat 0px 11px;
	border-bottom:#b4b4b4 1px dotted;
	float:left;
	width:692px;
	padding:10px 0px 10px 11px;
	display:inline;
	}
		
.ind_right_box4{
	float:left;
	width:692px;
	padding:5px;
	}
		
.ind_right_box4_menu{
	background:url(../images/ind2_right_box4_menubg.jpg);
	float:left;
	width:692px;
	height:31px;
	}

.ind_right_box4_menu li{
	float:left;
}

.ind_right_box4_menu li a{
	display:block;
	text-align:center;
	padding:9px 50px 7px 50px;
	color:#FFF;
	font-weight:bold;
	}
		
.ind_right_box4_menu li a:hover{
	background:url(../images/ind2_right_box4_menubg2.jpg);
	text-decoration:none;
	color:#00426c;
	font-weight:bold;
	}
		
.ind_right_box4_menu li .current{
	background:url(../images/ind2_right_box4_menubg2.jpg);
	text-decoration:none;
	color:#00426c;
	font-weight:bold;
	}
		
.ind_right_box5{
	float:left;
	width:692px;
	}
.input_msg{
	font-size: 12px;
	color: red;
	padding: 0px;
	margin: 0px;
}

/*outlook*/
#master{}
#master #submenucontent{background:url(../images/treeView/master_content.gif) repeat-y 1px 0px; padding-left:1px; height:100%}
.submenu{width:200px;height:100%;background:url(../images/treeView/master_submenu.gif) no-repeat bottom;overflow:auto}
.submenu h2{background-image:url(../images/treeView/submenu_h2.gif);font-size:9pt;font-weight:bold;width:176px;margin:0px;margin-bottom:1px;margin-left:12px;padding-top:5px;padding-bottom:5px;cursor:pointer;}
.submenu h2 img{margin:0px 3px -3px 3px;}
.submenu h3{}
.submenu .navigation{margin-left:15px;width:172px;padding-bottom:5px;}
.submenu .navigation li{}
.submenu .navigation a:link,.submenu .navigation a:visited{}
.submenu .navigation a:hover{}
.submenu .navigation a.current:link,.Navigation a.current:visited{}

#header{width:100%; padding:0px;}
#header .userinfo{width:180px;background:url(../images/treeView/master_userinfo.gif) no-repeat;margin-top:0px;margin-left:11px;font-weight:bold;padding-left:24px;padding-top:5px;padding-bottom:4px}
#header .userinfo a:link,.userinfo li a:visited{color:#333;text-decoration:none;}
/*-----------------------------------outlook*/

/*window*/
.preload1 {background: url(../images/treeWin/blank_over.gif) no-repeat;}
.preload2 {background: url(../images/treeWin/blank_overa.gif) no-repeat;}

#nav {padding:0; margin:0; list-style:none; height:36px; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#nav li.top {display:block; float:left;}
#nav li a.top_link {display:block; float:left; height:36px; line-height:27px; color:#fff; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background: url(../images/treeWin/blank.gif) no-repeat;}
#nav li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:36px;background:url(../images/treeWin/blank.gif) no-repeat right top;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:36px; background:url(../images/treeWin/blanka.gif) no-repeat right top;}
#nav li a.top_link:hover {color:#fff; background: url(../images/treeWin/blank_over.gif) no-repeat;}
#nav li a.top_link:hover span {background:url(../images/treeWin/blank_over.gif) no-repeat right top;}
#nav li a.top_link:hover span.down {background:url(../images/treeWin/blank_overa.gif) no-repeat right top;}

#nav li:hover > a.top_link {color:#fff; background: url(../images/treeWin/blank_over.gif) no-repeat;}
#nav li:hover > a.top_link span {background:url(../images/treeWin/blank_over.gif) no-repeat right top;}
#nav li:hover > a.top_link span.down {background:url(../images/treeWin/blank_overa.gif) no-repeat right top;}

#nav li:hover {position:relative; z-index:200;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub
{left:0; top:31px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:90px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:20px; width:90px; line-height:20px; text-indent:5px; color:#000; text-decoration:none;}
#nav li ul.sub li a.fly
{background:#fff url(../images/treeWin/arrow.gif) 80px 7px no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#3a93d2; color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background:#3a93d2 url(../images/treeWin/arrow_over.gif) 80px 7px no-repeat; color:#fff;}

#nav li:hover ul li:hover > a.fly {background:#3a93d2 url(../images/treeWin/arrow_over.gif) 80px 7px no-repeat; color:#fff;} 

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:90px; top:-4px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:90px; z-index:400; height:auto;}
/*--------------------------------------------------window*/

/*--------------------menuTree------------------*/
.top{ height:115px;background:url(../images/top_bg.jpg);}
.top .top_banner{ overflow:hidden; height:82px;}
.top .top_banner .logo{ float:left; background:url(../images/logo.jpg) left top no-repeat; width:462px; height:82px;}
.top .top_r{ float:right; background:url(../images/top_r_bg.jpg); width:238px; height:82px;}
.top .nav{ height:33px; line-height:33px; background:url(../images/nav_bg.jpg); color:#fff; padding:0 20px 0 10px;}
.top .nav span.username{ color:#d8ff00; font-family:Verdana, Geneva, sans-serif;}
.top .nav .dh{ float:right; line-height:19px; padding:7px 0px;}
.top .nav .dh a{ display:inline-block; padding-left:20px; color:#fff; text-decoration:none; margin-right:10px;}
.top .nav .dh a:hover{ text-decoration:underline;}
.top .nav .dh a.ico1{ background: url(../images/ico1.gif) 0px 1px no-repeat;}
.top .nav .dh a.ico2{ background: url(../images/ico2.gif) 0px 1px no-repeat;}
.top .nav .dh a.ico3{ background: url(../images/ico3.gif) 0px 1px no-repeat;}
.top .nav .dh a.ico4{ background: url(../images/ico4.gif) 0px 1px no-repeat;}
.top .nav .dh a.ico5{ background: url(../images/ico5.gif) 0px 1px no-repeat;}
.top .nav .dh a.ico6{ background: url(../images/ico6.gif) 0px 1px no-repeat;}
.bottom{ height:30px; line-height:30px; color:#fff; background:url(../images/bottom_bg.jpg); font-size:12px; text-align:center;}

.dis{display:block; text-align:center;}/*°ÑÄÚÈÝÇøÏÔÊ¾Îª¿é²¢ÏÔ??/
.undis{display:none;}/*Òþ²Ø´ÎÄÚÈÝÇø*/
.x-tool-collapse-west{ float:right;margin-right:5px}

/* À©Õ¹Ó¦ÓÃ°´Å¥ÑùÊ½ */
.vdbutton{ display:block; margin:20px 0 0 120px;}
.vdbutton a{ margin-right:10px;}
.viewbutton,.viewbutton span.hover,.downloadbutton,.downloadbutton span.hover{display: block;width:38px;height:38px;background-image:url(../images/vd_bg_button.gif);text-indent:-9999px;cursor:pointer;}
.viewbutton {float: left;position:relative;background-position: top left;}
.viewbutton span.hover{position: absolute;background-position: bottom left;}
.downloadbutton {float: left;position:relative;background-position: top right;}
.downloadbutton span.hover{position: absolute;		background-position: bottom right;}
/*-----------------------menuTree

/*------------------------------dtree---------------*/
.dtree {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #666;white-space: nowrap;}
.dtree img {border: 0px;vertical-align: middle;}
.dtree a {color: #333;text-decoration: none;}
.dtree a.node, .dtree a.nodeSel {white-space: nowrap;padding: 1px 2px 1px 2px;}
.dtree a.node:hover, .dtree a.nodeSel:hover {color: #333;text-decoration: underline;}
.dtree a.nodeSel {background-color: #c0d2ec;}
.dtree .clip {overflow: hidden;}
.dtree .cx {padding:0px; margin:0px;width:15px;height:15px;}
/*---------------------------------------------*/

/*------------------------------ectable-------------*/
.eXtremeTable {
	margin: 0;
	padding: 0;
}

.eXtremeTable select {
	font-family: Verdana;
	font-size: 12px;
	/*border: solid 1px #EEE;*/
	width: 50px;
	height:23px
}

.eXtremeTable .divTableRegion {
	width:100%;
	/overflow-x:auto;
	overflow-y:visible;
	/* max-height: 430px;
   overflow: auto;
   margin-bottom: 5px;*/
}

.eXtremeTable .tableRegion {
	border: 1px solid #f7ce8b;
	/*padding: 2px;*/
	font-family:Verdana;
	font-size: 10px;
	margin-top: 7px;
	/*height:300px;*/
}
.eXtremeTable .tableRegion input{
	height:22px
}
.eXtremeTable .filter {
	background-color: #fff7ea;/*#efefef;*/
}

.eXtremeTable .filter input {
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
}

.eXtremeTable .filter select {
	font-family: Verdana;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 100%;
	height:22px;
}

.eXtremeTable .tableHeader {
	/*background-color: #308dbb;
	color: white;
	font-family:Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	margin: 0;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;*/
	 background-color: #fddda8;
    border-bottom: 2px solid #eac998;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
   /* padding-left: 8px;*/
    text-align: center;
}

.eXtremeTable .tableHeaderSort {
	background-color:#f86f13; /*#3a95c2*/;
	color: white;
	font-family:Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .odd a, .even a {
	/*color: Black;
	font-size: 10px;*/
	color: #0080ff;
    font-size: 12px;
    text-decoration: none; 
}

.eXtremeTable .odd a:hover, .even a:hover {
	/*color: Black;
	font-size: 10px;*/
	color: #0080ff;
    font-size: 12px;
    text-decoration: underline; 
}


.eXtremeTable .odd td, .eXtremeTable .even td {
	/*padding-top: 2px;
	padding-bottom: 2px;*/
	padding-right: 1px;
	border-top: solid;
	border-top-width: 1px;
	border-color: #f7ce8b;
	padding-left: 1px;
	vertical-align: middle;
	font-family:"Î¢ÈíÑÅºÚ",Verdana;
	font-size: 12px;
	word-break:break-all;
	line-height:20px;
	height:20px;
	border-left:1px dashed #f7ce8b;
	text-align:center;
	color:#333
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background-color: #fff7ea ;/*#dfe4e8*/;
}

.eXtremeTable .highlight td {
	color: black;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.eXtremeTable .highlight a, .highlight a {
	color: black;
	font-size: 10px;
}

.eXtremeTable .toolbar {
	/*background-color: #F4F4F4;*/
	font-family:Verdana;
	font-size: 9px;
	margin-right: 1px;
	/*border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;*/
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	background-color: #Fff;/*#F4F4F4*/
	font-family:Verdana;
	font-size: 11px;
}

.eXtremeTable .filterButtons {
	background-color: #Fff;/*#efefef;*/
	text-align: right;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family:Verdana;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family:Verdana;
	font-size:10px;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .tableTotal {
	background-color: #FFFFFF;
	border-top: solid 1px Silver;	
}

.eXtremeTable .tableTotalEmpty {
	background-color: #FFFFFF;	
}
/*-------------------------------------------*/
/*------------------------------form css------------*/
.form_table{border-top:none;width:98%;background-color:#fff7ea!important;margin:auto;/*border:1px solid #ca9b5c*/}
.form_table caption{/*border:1px solid #c7c7c5;*/border-bottom:none; background-color:#F99331;text-align:center; font-weight:bold;color:#fff;font-size:14px;height:28px;padding-left:5px;line-height:28px/*padding-top:5px;*/}
.form_table .subTitle{border-bottom:none; background-color:#cee1e8;text-align:left; font-weight:bold;color:#1c1d21;height:18px;padding-left:5px;padding-top:5px;}
.form_table th{ background-color:#f7f2eb/*#e4edf2*/;height:22px;padding:3px 10px 2px 5px;}
.form_table td{ /*padding-left:5px;*/background-color:#fff;}
input[type^="reset"],[type^="button"],[type^="submit"],[type^="file"]{ 
	background: #fddda8/*#ed672a*/ none repeat scroll 0 0;
    border: 1px solid #eac998;
    border-radius: 3px;
    color: #555 !important;
    cursor: pointer;
    font: bold 14px/19px "Î¢ÈíÑÅºÚ",arial,sans-serif;
    height: 30px;
    letter-spacing: 2px;
    margin: 0;
    overflow: visible;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    width: auto;
}

.form_table2{border:1px solid #A8CFEB;width:100%;}
.form_table2 th{ background-color:#F1F6FF;height:22px;padding-left:5px;}
.form_table2 td{ padding-left:5px;background-color:#FAFCFF;}

.form_table3{/*border:1px solid buttonface;*/width:89%;}
.form_table3 th{/* background-color:#F1F6FF;*/height:28px;padding-left:5px;}
.form_table3 td{ padding-left:5px;/*background-color:#FAFCFF;*/height:30px;}

.form_tableT{  background-color: #fff7ea !important;
   /* border-top: medium none;*/
    width: 100%;}
.form_tableT caption{/*border:1px solid #c7c7c5;*/border-bottom:none; background-color:#F99331;text-align:center; font-weight:bold;color:#fff;font-size:14px;height:28px;padding-left:5px;line-height:28px/*padding-top:5px;*/}
.form_tableT .subTitle{border-bottom:none; background-color:#cee1e8;text-align:left; font-weight:bold;color:#1c1d21;height:18px;padding-left:5px;padding-top:5px;}
.form_tableT th{ background-color:#f7f2eb/*#e4edf2*/;height:22px;padding:3px 0 2px;}
.form_tableT td{ /*padding-left:5px;*/ }

.form_tableR{border-top:none;width:100%;}
.form_tableR caption{border-bottom:none; background-color:#F99331;text-align:center; font-weight:bold;color:#fff;font-size:14px;height:28px;padding-left:5px;line-height:28px/*padding-top:5px;*/}
.form_tableR .subTitle{border-bottom:none; background-color:#cee1e8;text-align:left; font-weight:bold;color:#1c1d21;height:18px;padding-left:5px;padding-top:5px;}
.form_tableR th{ background-color:#fddda8/*#e4edf2*/;height:22px;padding:3px 0 2px;text-align:center}
.form_tableR td{ /*padding-left:5px;*/}
.form_tableR .odd td, .form_tableR .even td {
	/*padding-top: 2px;
	padding-bottom: 2px;*/
	padding-right: 1px;
	
	padding-left: 1px;
	vertical-align: middle;
	font-family:"Î¢ÈíÑÅºÚ",Verdana;
	font-size: 12px;
	word-break:break-all;
	line-height:20px;
	height:20px;
	/*border-left:1px dashed #f7ce8b;*/
	text-align:center;
	color:#333
}

.form_tableR .odd {
	background-color: #FFFFFF;
}

.form_tableR .even {
  	background-color: #fff7ea ;/*#dfe4e8*/;
}

.SEARCHINFOCHECK{ 
	position: absolute;
    right: 6%;
    top: 5px;
    width: 8%;}

.query_list{border:1px solid #A8CFEB;margin-bottom:10px;width:100%;}
.query_list th{border:1px solid #A8CFEB; background-color:#DFEAFB;text-align:left; font-weight:bold;color:#1C568A;height:18px;padding-left:5px;padding-top:5px;}
.query_list td{ padding-left:5px;background-color:#FAFCFF;}

.roleSelect{border:none}
.roleSelect option{ background-color: #fff !important;
    border-bottom: 1px solid #fff7ea!important;
    height: 25px !important;
    line-height: 30px !important;
  	padding-top: 5px !important;
    vertical-align: middle !important;
    width: 100% !important;}
.roleSelectOption{
	background-color: #fff;
    border-bottom: 1px solid #fff7ea;
    height: 25px;
    line-height: 30px;
  	padding-top: 5px;
    vertical-align: middle;
    width: 100%;
}		
		
#rowHead{background-color:#c7c7c5;position:relative;top:expression(this.offsetParent.scrollTop);}
.form_table_title{width:100%;border:1px solid #ed672a/*#c7c7c5*/;border-bottom:none; background-color:#f99331/*#cee1e8*/;text-align:left; font-weight:bold;color:#fff/*1c1d21*/;height:25px;padding-left:5px;padding-top:5px;}
/*--------------------------------------------------*/
.tableButton{}
.tableButton input {
	/*background: #fddda8 none repeat scroll 0 0;
    border: 1px solid #eac998;
    border-radius: 3px;
    box-shadow: none;
    color: #333 !important;
    cursor: pointer;
    line-height: 35px;
    height:35px;
    text-align: center;
    text-shadow: none;
    transition-duration: 0.3s;
    transition-property: background;
    width: 98px;*/
    
    -webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eac998;
	background: #fddda8;
	color: #555 !important;
	cursor: pointer;
	font:bold 12px "Î¢ÈíÑÅºÚ",arial,sans-serif;
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	height: 27px;
	line-height: 19px;
	margin: 0;
	overflow: visible;
	width: auto;
	*width: 1;
}
/*------------------------ac--------------------------*/
.ac_results {
	padding: 0px;
	margin: 0;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	width: 100%;
}

.ac_results ul {
	width: 100%;
	padding: 0;
	padding-bottom: 18px;
	padding-right: 24px;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 2px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 15px;
	overflow: hidden;
}

.ac_over {
	background-color: highlight;
	color: white;
	width: 100%;
}
/*--------------------------------------------------------*/

.ret_msg {
	color: red;
}

input{background-color:expression((this.readOnly && this.readOnly==true)?"#cccccc":"")}

.dataarea table.title{line-height:24px;background-image:url(../images/page/master_fieldsetlegend.gif);}
.dataarea table.title th{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;background-image:url(../images/page/dataarea_title_th.gif);padding-left:15px;background-repeat:no-repeat;background-position:left bottom;}
.dataarea table.title th span{background-color:#fff;padding-right:5px;}
.dataarea table.title td{text-align:right;background-image:url(../images/page/dataarea_title_td.gif);padding-right:15px;background-repeat:no-repeat;background-position:right bottom;}
.dataarea table.title td.null{background-image:url(../images/page/dataarea_title_td2.gif);width:1px;}
.dataarea table.title td span{background-color:#fff;}
.dataarea table.title td img{padding-left:5px;border:0px;margin-bottom:-2px;cursor:pointer;}
.dataarea .datagrid{padding:5px;border:1px solid #A8CFEB;padding-top:0px;border-top:none;padding-left:9px;margin-top:-3px}

#master
.placard li{float:left;padding-right:50px;}
.placard li a:link{color:#333; text-decoration:none}
.placard li a:visited{color:#333; text-decoration:none}
.placard li a:hover{color:red;text-decoration:none;}

#error{background-image:url(../images/error.png);width:430px;height:240px;text-align:left;}
#error p{font-size:9pt;margin-top:114px;color:#333;margin-left:120px;width:265px;line-height:22px}

#bg_20150901qs87{ display: none;  top: 0%;  left: 0%;  position:fixed; _position:absolute;width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.7;  opacity:.60;  filter: alpha(opacity=60);}
#show_20150901qs87{display: none;  position: absolute;  top: 25%;  left: 30%;  width: 53%;  height: 60%;;  padding: 4px;  border:4px solid #E8E9F7;  background-color: white;  z-index:1002;  overflow: auto;}
#show1_20150901qs87{display: none;  position: absolute;  top:85%; left: 30%;  width: 53%;  height: 23px;;  padding: 4px; border:4px solid #E8E9F7; margin-top:12px;border-top:none; background-color: #E8E9F7;  z-index:1002;  overflow: auto;}


/**---------------------µÇÂ¼-------------------*/
.loginbg{position: absolute;height: 100%; width: 100% ;z-index:-1;}
.login_tab{ width: 70%; height: 230px;}
.login_tab td{ padding: 0px 0px;position: relative; line-height: 37px;}
.login_tab th{ position: relative; line-height: 37px;text-align:center;padding-right:10px;}
.login_font{color: #FFFFFF;font-size: 20px;}
.content{width: 100%;height: 100%;text-align: center; position: relative;}
.currUserName{ font-size: 20px; color: #000000;}
.rightForm-input{height:30px;height:22px\9;width:192px;font:14px;color:#1f0900;}
.rightForm-button{background:url(../images/logobutton.png) !important;width:95px !important;height:35px !important;color:#ffffff !important;font-size:16px !important;border:none !important;margin-left:10px !important;
margin-top:5px !important;cursor: pointer !important;text-shadow: 1px 1px 2px #999 !important;font-family:"ËÎÌå" !important;letter-spacing:1px !important}




/***----------------------------------------------**/
.form_table_query{width:100%;}
.form_table_query th{ background-color:#fff7ea;height:28px;padding-left:5px;font-weight:bold}
.form_table_query td{ padding-left:5px;/*background-color:#FAFCFF;*/height:30px;}